# front-end/.env.example

# API version. e.g., v1, v2, etc.
VITE__API_VERSION=v1

# API proxy target for development. This should point to your backend server.
VITE__DEV_API_PROXY_TARGET=http://localhost:6011

# OAuth configuration for authentication
VITE_APP_OAUTH_CLIENT_ID=
VITE_APP_REDIRECT_URI=http://fpm.localhost:6010/auth/callback
VITE_APP_AUTH_BASE_URL=https://www.fuyeor.com/oauth/authorize