# front-end/.env.example

# API version. e.g., v1, v2, etc.
VITE__API_VERSION=v1

# API proxy target for development. This should point to your backend server.
VITE__DEV_API_PROXY_TARGET=http://localhost:3000
