# database
DATABASE_URL=postgres://

# JSON Web Token config
JWT_KEY="THOUGHTS_PRIVATE_SECRET_NOT_SHARED_WITH_WWW"
JWT_ISSUER="thoughts.fuyeor.com"
JWT_AUDIENCE="thoughts-frontend"

# fu social OAuth config
IDP_BASE_URL="http://localhost:5173/v2"
IDP_CLIENT_ID="4a5e454b-746e-350d-c320-8284927ba1e0"
IDP_CLIENT_SECRET="35124b32118a530537890ac25c240c3dbbf54be2fd99e32ed5ec40feda46a42c"
IDP_REDIRECT_URI="http://thoughts.localhost:5174/auth/callback"