# database
DATABASE_URL=postgres://root:PWD@localhost:5432/fpm

# JSON Web Token config
JWT_KEY="FPM_PRIVATE_SECRET_NOT_SHARED_WITH_WWW"
JWT_ISSUER="fpm.fuyeor.com"
JWT_AUDIENCE="fpm-frontend"

# fu social OAuth config
IDP_BASE_URL=
IDP_CLIENT_ID=
IDP_CLIENT_SECRET=
IDP_REDIRECT_URI=

# Cloudflare R2
R2_ENDPOINT= # R2 S3 API Endpoint
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET_NAME= # R2 Bucket name
R2_PUBLIC_URL_BASE=https://fpm.fuyeor.net # R2 public domain